@import "./geral.css";

.cards-wrapper {
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1%;
  width: 400px;
  height: 400px;
  background-color: #fff;
  box-shadow: rgba(50, 50, 50, 0.2) 4px 5px 25px;
  border-radius: 10px;
}

.card .nome{
  font-family: Coolvetica, poppins, sans-serif;
  font-weight: 200;
  font-size: 2rem;
  letter-spacing: 1px;
}

.card .descricao{
  font-family: poppins, sans-serif;
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 1px;
}

@media screen{
  @media (max-width: 300px){
    
    .cards-wrapper{
      justify-content: center;
    }

    .card{
      width: 90vw;
      height: 90vh;
    }
  }
}

.downloadBtn {
  background: var(--secondary-color);
  padding: 5%;
  line-height: 2%;
  width: 80%;
  height: 20%;
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  color: #fff;
  font-size: 2rem;
  font-family: Straightler, poppins, sans-serif;
}

.deleteBtn {
  background: rgba(140, 40, 50);
  padding: 5%;
  line-height: 2%;
  width: 80%;
  height: 20%;
  border: 3px solid rgba(140, 40, 50);
  border-radius: 10px;
  color: #fff;
  font-size: 2rem;
  font-family: Straightler, poppins, sans-serif;
}

