@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,400&display=swap');

@font-face {
    font-family: Coolvetica;
    src: url(./Fonts/coolvetica.otf)
}

@font-face {
    font-family: Straightler;
    src: url(./Fonts/straightler.otf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Poppins, Coolvetica, sans-serif;
    outline: none;
    border: none;
}

:root {
    --primary-color   : #B3E0DD;
    --secondary-color : #65C0BC;
    --accent-color    : #E6F5F4;
    --extra-color     : #00968F;
    --back-color      : #0C210E;
}

a {
  text-decoration: none;
}

.logo {
  margin-top: 5vh;
  font-weight: 600;
  font-size:3rem;
  font-family: Coolvetica, sans-serif;
}
