@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,400&display=swap');
@font-face {
    font-family: Coolvetica;
    src: url(./Fonts/coolvetica.otf)
}

@font-face {
    font-family: Straightler;
    src: url(./Fonts/straightler.otf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: Poppins, Coolvetica, sans-serif;
    outline: none;
    border: none;
}

:root {
  /*CORES PEGAS DA PALETA DO BOOTSTRAP*/
    --primary-color   : #0d6efd; /* nome no BOOTSTRAP: blue */
    --secondary-color : #ced4da; /* nome no BOOTSTRAP: gray400 */
    --accent-color    : #fff;
    --extra-color     : #e9ecef; /* nome no BOOTSTRAP: gray200 */
    --back-color      : #6c757d; /* nome no BOOTSTRAP: gray600 */
    --mdlBck-color    : #212529; /* nome no BOOTSTRAP: gray900 */
    --dwnld-color     : #65C0BC;
    --delet-color     : rgba(140, 40, 50);    
    --shadow-color    : rgba(80, 60, 80, .9)
}

button {
  font-size: 1.5em;
  letter-spacing: 1px;
  transition: 250ms ease-in-out;
}

button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

a {
  text-decoration: none;
}

.logo {
  margin-top: 5vh;
  font-weight: 600;
  font-size:3rem;
  color: var(--accent-color);
  font-family: Coolvetica, sans-serif;
}
