@import "./geral.css";

/*  */

body{
  background: var(--bckg-color);
}

.container {
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.container > main {
    background: var(--secondary-color);
    min-width: clamp(70%, 800px, 90vw);
    min-height: 60vh;
}

.header {
    top: 0;
    min-width: 100vw;
    min-height: 20vh;
}

.footer {
    bottom: 0;
    min-width: 100vw;
    min-height: 20vh;
}
