@import "./geral.css";

body {
  background: var(--back-color); 
  background-attachment: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
}

.inputs {
  margin: 25vh;
  width: 70vw;
  height: 70%;
  display: grid;
  gap: 25px;
}

.input { 
  border-radius: 10px;
  height: 3rem;
  width: 100%;
  font-size: 1.5em; 
  font-family: "Coolvetica";
}

.selectAndLabelWrapper {
  width: 100%;
}

.label {
  width: 20%;
  color: var(--accent-color);
}

.select {
  border-radius: 10px;
  width: 80%;
  height: 3rem;
  font-size: 1.5em; 
}

.submit {
  background: #dedede;
  width: 100%;
  height: 3rem;
  font-size: 2rem;
  letter-spacing: 2px;
  background: teal;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  font-family: Coolvetica;
  transition: 250ms ease-out;  
}

.submit:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.textReg {
  font-size: 20px;
}

.textReg a {
  color: var(--accent-color);
  text-decoration: underline;
}
