@font-face {
    font-family: Coolvetica;
    src: url(./Fonts/coolvetica.otf)
}

@font-face {
    font-family: Straightler;
    src: url(./Fonts/straightler.otf)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

:root {
    --red   : rgba(170, 60, 60, .8);
    --blue  : rgba(60, 100, 195, .8);
    --green : rgba(70, 170, 100, .8);
}

.container {
    display:grid;
    grid-template-columns: 1fr 5fr 1fr;
}

.container section{
    background: var(--red);
}

.container > main {
    background: var(--green);
    min-width: clamp(70%, 800px, 90vw);
    min-height: 60vh;
}

.header {
    background: var(--blue);
    top: 0;
    min-width: 100vw;
    min-height: 20vh;
}

.footer {
    background: var(--red);
    bottom: 0;
    min-width: 100vw;
    min-height: 20vh;
}
